body {
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: hsl(213, 19%, 18%);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.container img {
    width: 50px;
    height: 50px;
}
.container h1 {
    font-size: 1.5em;
    margin: 20px 0;
}
.container p {
    font-size: 15px;
    margin: 10px 0;
    color: hsl(217, 12%, 63%);
}
.rating {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.rating button {
    background-color: hsl(213, 19%, 18%);
    border: none;
    border-radius: 50%;
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.rating button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(216, 12%, 8%);
}
.rating button.active {
    background-color: hsl(25, 97%, 53%);
}
.submit-button {
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 20px;
    color:black;
    font-size: 1em;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
}
.thank-you {
    display: none;
}
.thank-you img {
    width: 100px;
    height: 100px;
}
.thank-you h1 {
    font-size: 1.5em;
    margin: 20px 0;
}
.thank-you p {
    font-size: 15px;
    margin: 10px 0;
    color: hsl(217, 12%, 63%);
}
.thank-you .selected-rating {
    color: hsl(25, 97%, 53%);
    font-weight: bold;
}
.error-message {
    color: hsl(25, 97%, 53%);
    font-size: 0.9em;
    margin-top: 10px;
    display: none;
}
.star-icon-container {
    background-color: hsl(213, 19%, 20%); 
    border-radius: 50%; 
    width: 60px; 
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto; 
}
.rating button {
    background-color: hsl(213, 19%, 20%); 
    border-radius: 50%;
    color: hsl(212, 6%, 57%); ;
}
.star-icon{
    width: 25px !important;
    height: 25px !important; 
}
